
* {
    box-sizing: border-box;
}

body {
	background-color: rgb(218, 27, 27);
	min-height: 100vh;
	height: 100vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin: 0;
}

h1 {
	margin: 0;
}

#gridContainer {
	width: 50%;
	height: 80%;
	background-color: white;
	display: grid;
	border: solid rgb(218, 27, 27) 8px;
}

.header {
	display: flex;
	flex-direction: column;
	margin-bottom: 5px;
	width: 800px;
	text-align: center;
	font-size: 30px;
	color: #FAE481;
}

input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

#inputForm {
	display: flex;
	justify-content: space-evenly;
}

#clear, #generator, #number {
	width: 100%;
	font-size: 30px;
	text-align: center;
	border: 4px solid black;
	color: #FAE481;
	background-color: rgb(218, 27, 27);
}

input::placeholder {
	background-color: rgb(218, 27, 27);	
	color: #FAE481;
}